.visually-hidden-input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  width: 1px;
}
.file-area{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.bottom-description{
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  margin-bottom: 20px; 
    display: flex; 
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between; 
}
.furniture-listing {
    position: relative;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    height: auto;
    width: 250px;
    background-color: transparent !important;
    border: 2px solid black !important;
    border-radius: 5px !important;
    overflow: visible !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25) !important;
  }
  .furniture-listing2{
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    width: 100vh;
    height: 60vh;
    background-color: transparent !important;
    border: 2px solid black !important;
    border-radius: 5px !important;
    overflow: visible !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25) !important;
  }

  .furniture-listing-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-family: "Dosis" !important;
    color: rgba(0, 0, 0, 1) !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    text-align: left !important;
    margin: 2px 0 2px 0 !important;
  }
.furniture-listing-container {
    width: auto;
    height: auto;
    margin: 20px 20px 20px 10px;
    display: flex;
    justify-content: space-between;
    flex: 4;
    border: 3px solid black;
    //max-height: 85vh;
    overflow-y: auto;
  }
  .furniture-listing-content {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 25px;
    justify-content: space-between;
    padding: 8px 18px 8px 12px !important;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
