.furniture-sidebar {
  width: auto;
  height: auto;
  margin: 20px 10px 20px 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-height: 85vh;
  min-width: 300px;
  border: 3px solid black;
}

@media (max-width: 1000px) {
  .furniture-sidebar {
    display: none;
  }
}