@font-face {
  font-family: "Caveat";
  src: url("https://cdn.jsdelivr.net/gh/Hongda-OSU/PicGo/image/caveat-regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Dosis";
  src: url("https://cdn.jsdelivr.net/gh/Hongda-OSU/PicGo/image/Dosis-VariableFont_wght.ttf");
  font-display: swap;
}

.furniture-header {
  position: relative;
  width: auto;
  height: auto;
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.furniture-header-text-container {
  width: auto;
  height: auto;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

.furniture-header-text {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-family: "Caveat";
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  margin: 2px 2px 2px 0;
}

.highlight {
  color: rgba(128, 0, 128, 1);
}

.furniture-header-login {
  width: auto;
  height: auto;
  padding: 10px 10px 5px 0;
  display: flex;
}

.furniture-header-login-button {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1) !important;
  font-family: "Dosis" !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  text-align: center;
  white-space: wrap;
}

.furniture-header-login-button:hover {
  transform: scale(1.015);
  filter: brightness(1.05);
  ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
  }
}

.furniture-header-login-avator {
  margin-left: 20px;
  margin-right: 80px;
}

.active {
  margin-right: 120px;
}

@media (max-width: 1200px) {
  .furniture-header {
    justify-content: center;
    align-items: center;
  }

  .furniture-header-login {
    display: none;
  }

  .furniture-header-text-container {
    margin-left: 0;
  }

  .furniture-header-text {
    font-size: 42px;
  }
}

